@model Luminaria
@{
    ViewData["Title"] = "Eliminar Luminária";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="container">
        
        <main>

            <hr />
            <a asp-area="" asp-controller="User" asp-action="Index">
                <span class="material-icons-sharp">
                    <span class="material-symbols-sharp">
                        arrow_back
                    </span>
                </span>
            </a>
            <div class="luminaria-specs">
                <div class="header">
                    <span class="material-icons-sharp">lightbulb</span>

                    <h2>ID: @Model.Id</h2>
                </div>
                <div class="specs-luminaria">
                    <h1>Geral</h1>
                    <div class="specs">
                        <h2>Modelo do Objeto:</h2>
                        <h2>@Model.Modelo</h2>
                    </div>                 
                    <div class="specs">
                        <h2>Latitude:</h2>
                        <h2>@Model.Latitude</h2>
                    </div>
                    <div class="specs">
                        <h2>Longitude:</h2>
                        <h2>@Model.Longitude</h2>
                    </div>
                <div class="specs">
                    <h2>Cidade:</h2>
                        <h2>@Model.Cidade</h2>
                </div>
                <div class="specs">
                    <h2>País:</h2>
                    <h2>@Model.Pais</h2>
                </div>
                </div>
            </div>
            <div class="form-submit-btn">
            <button class="modern-button1">
                    <a role="button" asp-action="DeleteFinal" asp-controller="Luminaria" asp-route-id="@Model.Id" class="btn btn-primary"><h2>Eliminar</h2></a>
            </button>
            </div>

            @*<div class="formulario">
                <h1 class="form-title">Eliminar Luminária</h1>
                
                  
                    <div class="main-user-info">


                    <div class="luminaria-specs">
                        <div class="header">
                            <span class="material-icons-sharp">lightbulb</span>

                            <h2>LAMP665533</h2>
                        </div>
                        <div class="specs-luminaria">
                            <h1>Geral</h1>
                            <div class="specs">
                                <h2>Modelo:</h2>
                                <h2>@Model.Modelo</h2>
                            </div>
                            <div class="specs">
                                <h2>País:</h2>
                                <h2>@Model.Pais</h2>
                            </div>
                            <div class="specs">
                                <h2>Cidade:</h2>
                                <h2>@Model.Cidade</h2>
                            </div>
                            <div class="specs">
                                <h2>Latidude:</h2>
                                <h2>@Model.Latitude</h2>
                            </div>
                            <div class="specs">
                                <h2>Longitude:</h2>
                                <h2>@Model.Longitude</h2>
                            </div>


                        </div>
                    </div>
                        <


                </div>*@

                
            @*</div>*@

        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
            </div>

            

            
        </div>
    </div>

    <script src="./index.js"></script>
    <script>
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker;

        function onMapClick(e) {
            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);
            document.getElementById("input1").value = e.latlng.lat;
            document.getElementById("input2").value = e.latlng.lng;

            var url = 'https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + e.latlng.lat + '&lon=' + e.latlng.lng;

            fetch(url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    var city = data.address.city || data.address.town || data.address.village;
                    var country = data.address.country;

                    document.getElementById("inputCity").value = city;
                    document.getElementById("inputCountry").value = country;
                })
                .catch(function (error) {
                    console.log('Error:', error);
                });
        }

        map.on('click', onMapClick);
    </script>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
