@model List<Luminaria>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }

        .header-center {
            text-align: center !important;
        }

        table.dataTable thead tr {
            background-color: #e03840;
        }
    </style>
</head>


<body>
    <div class="container">
       
        <main>

            <div class="headerClientes">
                <h1>Luminarias Associadas</h1>
            </div>

            <div id="map"></div>

            <div class="grupos-luminarias">
                <table id="table-luminarias">
                    <thead>
                        <tr>
                            <th class="center-text">ID</th>
                            <th>Modelo</th>
                            <th>Pais</th>
                            <th>Cidade</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (Luminaria luminaria in Model)
                            {
                                <tr>
                                    <td>@luminaria.Id</td>
                                    <td>@luminaria.Modelo</td>
                                    <td>@luminaria.Pais</td>
                                    <td>@luminaria.Cidade</td>
                                    <td>@luminaria.Latitude</td>
                                    <td>@luminaria.Longitude</td>
                                    <td class="primary">
                                        <a asp-controller="Luminaria" asp-action="Details" asp-route-id="@luminaria.Id">Detalhes</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Luminaria" asp-action="Delete" asp-route-id="@luminaria.Id">
                                            <span class="material-icons-sharp"> delete </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Luminária</h1>

                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> calendar_month </span>
                    <h3>Modelo</h3>

                    <div class="date-time">
                        <p id="modeloLuminaria">LAMP</p>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> calendar_month </span>
                    <h3>Data de instalação</h3>

                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> settings </span>
                    <h3>Última revisão</h3>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                    </div>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Localização</h1>

                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> flag </span>
                    <h3>País</h3>
                    <div class="date-time">
                        <p id="paisLuminaria"></p>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp">location_city</span>
                    <h3>Cidade</h3>
                    <div class="date-time">
                        <p id="cidadeLuminaria"></p>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp">location_on</span>
                    <h3>Latitude</h3>
                    <div class="date-time">
                        <p id="latitudeLuminaria"></p>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp">location_on</span>
                    <h3>Longitude</h3>
                    <div class="date-time">
                        <p id="longitudeLuminaria"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#table-luminarias').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "oLanguage": {
                    "sEmptyTable": "Nenhum registo encontrado na tabela",
                    "sInfo": "Mostrar _START_ até _END_ de _TOTAL_ Luminárias",
                    "sInfoEmpty": "Mostrar 0 até 0 de 0 Luminárias",
                    "sInfoFiltered": "(Filtrar de _MAX_ total Luminárias)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrar _MENU_ Luminárias por página",
                    "sLoadingRecords": "A carregar...",
                    "sProcessing": "A processar...",
                    "sZeroRecords": "Nenhuma Luminária encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
                "columnDefs": [
                    { "className": "header-center", "targets": "_all" }
                ]
            });
        });
    </script>
  
    @*<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>*@
    
    <script>
        var luminarias = @Html.Raw(Json.Serialize(Model));
        
        var map = L.map('map');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        }).addTo(map);

        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latLng = L.latLng(position.coords.latitude, position.coords.longitude);
                map.setView(latLng, 25);

                luminarias.forEach(function (luminaria) {
                    var markerLatLng = L.latLng(luminaria.latitude, luminaria.longitude);
                    var marker = L.marker(markerLatLng).addTo(map);

                    marker.on('click', function () {

                        $('#nomeLuminaria').text(luminaria.nome);
                        $('#modeloLuminaria').text(luminaria.modelo);
                        $('#latitudeLuminaria').text(luminaria.latitude);
                        $('#longitudeLuminaria').text(luminaria.longitude);
                        $('#cidadeLuminaria').text(luminaria.cidade);
                        $('#paisLuminaria').text(luminaria.pais);
                    });
                });
            }, function (error) {
                console.log('Erro ao obter a localização do usuário:', error.message);
            });
        } else {
            console.log('Navegador não suporta a Geolocalização.');
        }
    </script>
</body>

