@model List<Luminaria>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }

        .header-center {
            text-align: center !important;
        }

        table.dataTable thead tr {
            background-color: #e03840;
        }
    </style>
</head>


<body>
    <div class="container">
        <aside id="sidebar">
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.png" alt="" />
                    <h2>LUX<span class="color-primary">IFER</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close </span>
                </div>
            </div>
            <div class="sidebar">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="material-icons-sharp"> dashboard </span>
                    <h3>Dashboard</h3>
                </a>
                <a asp-area="" asp-controller="Clientes" asp-action="Index">
                    <span class="material-icons-sharp"> groups </span>
                    <h3>Clientes</h3>
                </a>
                <a asp-area="" asp-controller="Luminarias" asp-action="Index" class="active">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h3>Luminárias</h3>
                </a>
                <a asp-area="" asp-controller="Grupos" asp-action="Index">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h3>Grupos</h3>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="HelpCenter">
                    <span class="material-icons-sharp"> help </span>
                    <h3>Help Center</h3>
                </a>
                <a asp-area="" asp-controller="Settings" asp-action="Index">
                    <span class="material-icons-sharp"> settings </span>
                    <h3>Settings</h3>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="material-icons-sharp"> logout </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>


        <main>

            <div class="headerClientes">
                <h1>Luminarias Associadas</h1>
                <button class="modern-button"><span class="material-icons-sharp"> person_add </span><a asp-area="" asp-controller="Luminaria" asp-action="Create"><h2>Adicionar Luminaria</h2></a></button>
            </div>

            <div id="map"></div>


            <div class="grupos-luminarias">
                <table id="table-luminarias">
                    <thead>
                        <tr>
                            <th class="center-text">ID</th>
                            <th>Modelo</th>
                            <th>Pais</th>
                            <th>Cidade</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                            @if(Model != null && Model.Any())
                            {
                                foreach (Luminaria luminaria in Model)
                                {
                                    <tr>
                                        <td>@luminaria.Id</td>
                                        <td>@luminaria.Modelo</td>
                                        <td>@luminaria.Pais</td>
                                        <td>@luminaria.Cidade</td>
                                        <td>@luminaria.Latitude</td>
                                        <td>@luminaria.Longitude</td>
                                        <td class="primary"><a asp-area="" asp-controller="Luminaria" asp-action="Edit" asp-route-id="@luminaria.Id">Editar</a></td>
                                    <td><a asp-area="" asp-controller="Luminaria" asp-action="Delete" asp-route-id="@luminaria.Id"><span class="material-icons-sharp"> delete </span></a></td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>

            <div class="luminaria-specs">
                <div class="header">
                    <span class="material-icons-sharp">lightbulb</span>

                    <h2>LAMP665533</h2>
                </div>
                <div class="specs-luminaria">
                    <h1>Geral</h1>
                    <div class="specs">
                        <h2>Nome do Objeto:</h2>
                        <h2>LAMP665533</h2>
                    </div>
                    <div class="specs">
                        <h2>Modelo do Objeto:</h2>
                        <h2>Luxifer L1</h2>
                    </div>
                    <div class="specs">
                        <h2>Localização:</h2>
                        <h2>41º24'12.2"N 2º10´26.5"E</h2>
                    </div>
                    <div class="specs">
                        <h2>Cidade:</h2>
                        <h2>Coimbra</h2>
                    </div>
                    <div class="specs">
                        <h2>País:</h2>
                        <h2>Portugal</h2>
                    </div>


                </div>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>Diogo</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/foto.jpeg" alt="" />
                    </div>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#table-luminarias').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "oLanguage": {
                    "sEmptyTable": "Nenhum registo encontrado na tabela",
                    "sInfo": "Mostrar _START_ até _END_ de _TOTAL_ Luminárias",
                    "sInfoEmpty": "Mostrar 0 até 0 de 0 Luminárias",
                    "sInfoFiltered": "(Filtrar de _MAX_ total Luminárias)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrar _MENU_ Luminárias por página",
                    "sLoadingRecords": "A carregar...",
                    "sProcessing": "A processar...",
                    "sZeroRecords": "Nenhuma Luminária encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
                "columnDefs": [
                    { "className": "header-center", "targets": "_all" }
                ]
            });
        });
    </script>

</body>

