@model List<Grupo>

@{
    ViewData["Title"] = "Grupos";
}
<head>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }

        .header-center {
            text-align: center !important;
        }

        table.dataTable thead tr {
            background-color: #e03840;
        }
    </style>
</head>


<body>
    <div class="container">

        
        <main>
            @if (TempData["MensagemAdicionarSucesso"] != null)
            {
                <figure class="notification">
                    <div class="notification__body">
                        @TempData["MensagemAdicionarSucesso"]
                    </div>
                    <div class="notification__progress"></div>
                </figure>
            }

            <div class="headerClientes">
                <h1>Os seus Grupos</h1>
                <button class="modern-button">
                    <span class="material-icons-sharp"> person_add </span>
                    <a asp-area="" asp-controller="Grupos" asp-action="Create"><h2>Criar Grupo</h2></a>
                </button>
            </div>


            <div class="grupos-luminarias">
                <table id="table-luminarias">
                    <thead>
                        <tr>
                            <th class="center-text">ID</th>
                            <th>Nome</th>
                            <th>Cor</th>
                            <th>User Associado</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Nome</td>
                                    <td>@item.Cor</td>
                                    <td>@item.UserId</td>
                                    <td class="primary">
                                        <a asp-controller="Grupos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                    </td>
                                    <td class="primary">
                                        <a asp-controller="Grupos" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Grupos" asp-action="Delete" asp-route-id="@item.Id">
                                            <span class="material-icons-sharp"> delete </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        

        </main>

        <div class="right">
        <div class="top">
        <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
        </button>
        <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
        </div>
        
        </div>
  
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#table-luminarias').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "oLanguage": {
                    "sEmptyTable": "Nenhum registo encontrado na tabela",
                    "sInfo": "Mostrar _START_ até _END_ de _TOTAL_ Grupos",
                    "sInfoEmpty": "Mostrar 0 até 0 de 0 Grupos",
                    "sInfoFiltered": "(Filtrar de _MAX_ total Grupos)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrar _MENU_ Grupos por página",
                    "sLoadingRecords": "A carregar...",
                    "sProcessing": "A processar...",
                    "sZeroRecords": "Nenhum Grupo encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
                "columnDefs": [
                    { "className": "header-center", "targets": "_all" }
                ]
            });
        });
    </script>

</body>